<!DOCTYPE html>
<html>
    <head>
        <title>Tasks!</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="header" class="container-fluid my-1 py-1">
            <h1>Tasks!</h1>
        </div>
        <div id="content" class="container-fluid my-1 py-1">
            <div class="container-fluid">
                <form method="get" action="add">
                    <div class="row my-1 py-1">
                        <div class="col-11">
                            <input type="text" class="form-control" name="text" required>
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid my-1 py-1">
                {% for task in tasks %}
                <form method="get" action="update">
                    <div class="row my-1 py-1">
                        <div class="col-1">
                            <b>{{task.index}}</b>
                        </div>
                        <div class="col-9">
                            {% if task.done %}
                            <s>{{task.text}}</s>
                            {% else %}
                            <label>{{task.text}}</label>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            {% if task.done %}
                            <button type="submit" class="btn btn-primary" name="uncheck" value="{{task.index}}">
                                <i class="bi-arrow-left"></i>
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-primary" name="check" value="{{task.index}}">
                                <i class="bi-check"></i>
                            </button>
                            {% endif %}
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary" name="remove" value="{{task.index}}">
                                <i class="bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </body>
</html>